@import "tailwindcss";

@layer base {
  body { @apply bg-[#1F3A4B] text-white; }
}

/* for dark and whithe theme*/
@custom-variant dark (&:where(.dark, .dark *));
/* Global body styling */
body {
  @apply bg-purple-100 text-gray-800 transition-colors duration-300;
}

.dark body {
  @apply bg-[#1F3A4B] text-white;
}

/* Floating amoeba-like blob */
@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(20px, -30px) scale(1.1);
  }
  66% {
    transform: translate(-25px, 20px) scale(0.9);
  }
}

.animate-blob {
  animation: blob 8s infinite ease-in-out;
}
